<div id="home-container" class="w-sm-100 d-lg-flex">
    <%- include('_posts') %>
        <%- include('_users') %>
</div>
<% if (locals.user) { %>
    <%- include('_chat_box') %>
        <% } %>
            <script src="/js/comments.js"></script>
            <script src="/js/chat_engine.js"></script>

            <% if (locals.user){ %>
                <script>
                    new ChatEngine('messages', '<%= locals.user.email %>')
                </script>
                <% } %>
                    <script src="/js/chat_box.js"></script>